---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../icons/SocialPill.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import Phone from "../icons/Phone.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import User from "../icons/User.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Portafolio de Joseph - Desarrollador y Programador Web" description="Especialista en Frontend de Web y Aplicaciones Moviles">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png"
        alt="joseph"
      />

      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola, Soy Joseph <a
          href="https://www.linkedin.com/in/josephdiazcal/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para Trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        6 meses de experiencia como Desarrollador FrontEnd de Aplicaciones Móviles. Estudiante de Idat, en la
        carrera Desarrollo de Sistemas de Información. Lima, Peru.
      </h2>
      <nav class="flex gap-4 mt-6 flex-wrap">
           <SocialPill href="https://www.linkedin.com/in/josephdiazcal/">
            <LinkedIn class="size-4 md:size-6"/>
            LinkedIn
           </SocialPill>
           <SocialPill href="https://github.com/Joseph21D">
            <Github class="size-4 md:size-6"/>
            GitHub
           </SocialPill>
           <SocialPill href="mailto:jomadica1721@gmail.com">
            <Mail class="size-4 md:size-6"/>
            jomadica1721@gmail.com
           </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <Code class="size-7"/>
        Proyectos</h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <Briefcase class="size-7"/>
        Estudios</h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <User class="size-7"/>
        Sobre Mi</h2>
      <About />
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <Phone class="size-7"/>
        Contacto</h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
