---
import AstroIcono from "../icons/AstroIcono.astro";
import HtmlIcono from "../icons/HtmlIcono.astro";
import IconoCss from "../icons/IconoCss.astro";
import IconoJavaScript from "../icons/IconoJavaScript.astro";
import IconoFigma from "../icons/IconoFigma.astro";
import IconoReact from "../icons/IconoReact.astro";
import IconoAngular from "../icons/IconoAngular.astro";
import IconoPHP from "../icons/IconoPHP.astro";
import MongoDb from "../icons/MongoDb.astro";
import IconoPython from "../icons/IconoPython.astro";
import IconoFlutter from "../icons/IconoFlutter.astro";
---

<article>
  <p class="text-lg mb-4 text-pretty">
    6 Meses de Experiencia en Dise침o de Aplicaciones Moviles, desarrollando una
    aplicacion de delivery para bodegas. Mi objetivo es trabajar de manera
    proactiva para garantizar que cada interacci칩n con los clientes sea positiva
    y satisfactoria. Busco desarrollar mis habilidades de programaci칩n y
    resoluci칩n de problemas para abordar las necesidades de los clientes de
    manera efectiva.
  </p>
  <h3 class="text-2xl font-semibold text-yellow-200 mb-2">Stack</h3>
  <nav class="flex gap-6 mt-6 flex-wrap">
      <HtmlIcono class="mt-6 size-10"/>
      <IconoCss class="mt-6 size-10"/>
      <IconoJavaScript class="mt-6 size-10"/>
      <IconoFigma class="mt-6 size-10"/>
      <IconoFlutter class="mt-6 size-10"/>
      <IconoReact class="mt-6 size-10"/>
      <IconoAngular class="mt-6 size-10"/>
      <AstroIcono class="mt-6 size-10"/>
      <IconoPHP class="mt-6 size-10"/>
      <MongoDb class="mt-6 size-10"/>
      <IconoPython class="mt-6 size-10"/>
  </nav>
</article>
